-i https://pypi.org/simple
bcrypt==3.1.6
cffi==1.11.5
click==7.0
flask-bcrypt==0.7.1
flask-login==0.4.1
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.1.0
pycparser==2.19
six==1.12.0
sqlalchemy==1.2.17
werkzeug==0.14.1
wtforms==2.2.1
