$colors: (
    1: red,
    2: yellow,
    3: blue,
    4: green
);

a {
    text-decoration: none !important;
    color: #fff !important;
}

body, html {
    background-color: #212727 !important;
}
@function color($color-name) {
    @return map-get($colors, $color-name)
}

.sample {
    background-color: color(1);
}
.sample-2{
    background-color: color(2);
}
.sample-3{
    background-color: color(3);
}
.img-area {
    height: 40vh;
}
.img-area img {
    width: 100%;
    height: 38vh;
    display: cover;
    object-fit: cover;
}
.content {
    background-color: #3A3B3D;
    color: #fff;
}
.container-fluid {
    transition: 1s;
}
.container-fluid:hover {
    background: #4C5051;
    transition: 1s;
    transition-timing-function: ease-in;
}
.container img {
    height: 35px;
    width: 35px;
}
.nav-link {
    transition: 700ms;
}
.nav-link:hover {
    background: #fff;
    border-radius: 15px;
    color: #000 !important;
    transition: 700ms;
    transition-timing-function: ease-out;
}

.col-md-4 {
    text-align: center;
}