{% extends "layout.html" %}
{% block content %}
<!-- Main Content-->
    <main>
        <div class="content col-md-8 col-lg-6 col-9 mx-auto mt-4 p-2">
                {% for post in posts %}
                <section class="article-area container-fluid p-2 mb-1 row md-n12 mx-auto">
                    <div class="article col-md-4 mt-5">
                        <div>
                            <span class="label label-default"><a class="mr-2" href="#">{{ post.author }}</span></a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                    <div class="img-area col-md-8 border-bottom">
                        <div class="inner-img">
                            <img class="img-fluid mx-auto p-3 d-block" src="https://source.unsplash.com/weekly?{{ range(1, 51) | random }}" alt="">
                        </div>
                    </div>
                </section>
                {% endfor %}
        </div>
    </main>
{% endblock content %}

 